/* Global layout */
#root{
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

body{
  margin: 0;
}

/* si tu as une classe container dans App.tsx */
.main { width: 100%; }